/* .nav-menu {
  cursor: pointer;
}

.hamburger {
  display: block;
  z-index: 101;
  cursor: pointer;
  position: relative;
}

@media only screen and (max-width: 480px) {
  .logo {
    display: none;
  }

  .hamburger {
    display: block;
    position: relative;
    z-index: 101;
    cursor: pointer;
    margin-left: auto;
  }
  #all_links {
    display: none;
  }
}

@media screen and (min-width: 481px) {
  .hamburger {
    display: none !important;
  }

  .logo {
    display: block !important;
  }
} */
