.nav-menu {
  cursor: pointer;
}
.hamburger {
  cursor: pointer;
}

@media only screen and (max-width: 480px) {
  #all_links {
    display: none;
  }
  .logo {
    display: none;
  }
  .nav {
    flex-direction: column;
  }
  #all_links {
    height: 100vh;
  }
}

@media screen and (min-width: 480px) {
  .hamburger {
    display: none;
  }
  .nav .hamburger {
    display: none;
  }
}

.fullscnav {
  width: 100%;
  display: flex;
}

/* media query for full screen navbar */
/* cgpt */

/* .links.show {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 2rem;
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .links {
    display: none;
  }

  .hamburger {
    display: block;
  }
} */
